/* Stylesheet by Noah Sisson and Nathan Porter */
/* 
code for different viewports
@media only screen and (max-width: ???px){}
*/

/* styles for main elements */

body {
    background-color: #3d5164;
}

h2 {
    background-color: #eb5858;
    color: #ffffff;

    margin-left: 1em;
    padding: .5em;
    border-radius: 25px;
}

i {
    font-size: 2em;
    color: #edfdff;
    margin-top: .25em;
    margin-right: .25em;
    margin-left: .25em;
}


/* styles for nav bar flex container and flex items */
.flexContainerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f4e8c9;
    border-radius: 50px;
    color: #ffffff;
    margin: 1em;
}

.btn {
    background-color: #5273ff;
    margin: .25em .5em .25em .5em;
    padding: .25em .5em .25em .5em;
    border-radius: 30px;
    height: 3.3em;
}

.btn:hover {
    background-color: #aaf3fa;
}

.btn a{
    text-align:center;
    color: #ffffff;
    display: block;
    width: 50px;
    height: 50px;
    padding:0;
    margin:0;
}

.flexHeader {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    width: auto;
}

.flexSearch {
    flex-grow: 1;
    text-align: center;
}

.searchBar input{
    margin: 1em;
}

input[type=text], select, textarea {
    background-color: #5273ff;
    color: #edfdff;
    border-radius: 50px;
    padding: 1.75em;
    border: none;
    width: 80%;
    text-align: left;
}

/* style specifies how big the spacer div is */
.spacer {
    height: 100px;
}

.collections{
    background-color: #edfdff;
}