/* Stylesheet by Noah Sisson and Nathan Porter */
/* 
code for different viewports
@media only screen and (max-width: ???px){}
*/

/* styles for main elements */

body {
    background-color: #232c35;
}

h2 {
    background-color: #59cf6a;
    color: #ffffff;
    margin-left: 1em;
    padding: .5em;
    border-radius: 5px;
    font-family: "asap", sans-serif;
    font-weight: 600;
    font-style: normal;
}

i {
    font-size: 2em;
    margin-top: .25em;
    margin-right: .25em;
    margin-left: .25em;
}

label {
    font-family: "asap", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* styles for nav bar flex container and flex items */

/* top box is a flex container that has moth the nav bar and banner image */
.topBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* aligns and places audio visualizer image within topBox */
.bannerImg {
    max-width: 90%;
    position: relative;
    margin-top: -250px;
    z-index: -1;
}

/* the flexbox that contains the nav bar and everythin in it */
.flexContainerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #12171b;
    color: #ffffff;
    margin-top: -8px;
    position: fixed;
    z-index: 2;
    width: 100%;
}

/* button classes for 3 buttons in nav bar */
.btn {
    margin: .25em .5em .25em .5em;
    padding: .25em .5em .25em .5em;
    border-radius: 30px;
    height: 3.3em;
}.btn a i:hover {
    color: #80a1bb;
}.btn a{
    text-align:center;
    color: #ffffff;
    display: block;
    width: 50px;
    height: 50px;
    padding:0;
    margin:0;
}


/* 'flexHeader' is the class for the flebox item logo image (not there yet)*/
.flexHeader {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    width: auto;
}

/* search Bar in nav bar*/
.flexSearch {
    flex-grow: 1;
    text-align: center;
}.flexSearch input{
    margin: 1em;
}.flexSearch [list]::-webkit-list-button,
.flexSearch [list]::-webkit-calendar-picker-indicator {
  display: none !important;
}

/* class that styles input */
input[type=search], select, textarea {
    background-color: #3754BE;
    color: #edfdff;
    border-radius: 5px;
    padding: .75em;
    border: none;
    width: 80%;
    text-align: left;
    font-style: italic;
    font-size: 1.25em;
}

/* style specifies how big the spacer divs are */
.spacer {
    height: 40vh;
}

.spacer2 {
    height: 50vh;
}
/**/

/* styles for the main section */

/* master div for the two side-by-side sections (scroller and filter search) */
.mainDiv {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-top: -250px;
}

/* div that contains collections and popular sounds */
.filterdpop {
    display: flex;
    flex-direction: column;
    background-color: #edfdff;
    flex-basis: 67%;
    border-radius: 5px;
    max-width: 67%;
    justify-content: space-between;
    align-items: center;
}.filterdpop h1 {
    padding-left:1em;
    font-size: 2em;
    font-family: "asap", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
}

/* div that contains h1 tags in filterdpop */
.h1Container {
    width: 100%;
    text-align: left;
}

/* flexbox container for horizontal scroller */
.collectionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    overflow-x: auto;
    overflow-y: hidden;

}

/* flex item inside scroller */
.flexSoundbox {
    background-color: #59cf6a;
    margin: 1em;
    flex-basis: 10em;
    text-align: center;
    border-radius: 5px;
    height: 10em;
    min-width: 10em;
}.flexSoundbox i {
    font-size: 50pt;
    text-align: center;
    padding-bottom: .4em;
}.flexSoundbox h2{
    margin: 0;
    padding: 0;
    border-radius: 0;
    font-size: 15pt;
}.flexSoundbox a {
    text-decoration: none;
}

/* div that contains filter section */
.filterdpop2 {
    background-color: #f4e8c9;
    flex-basis: 33%;
    border-radius: 5px;
    padding: 1em;
}.filterdpop2 h1 {
    padding: 0 1em 1em 1em;
    text-align: center;
    margin: 0;
    font-family: "asap", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* flexbox for wrapping filter buttons */
.filtersContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

/* flex item for filtersContainer */
.filterButton {
    background-color: #1f2b5d;
    color: #edfdff;
    border-radius: 25px;
    padding: 5px;
    width: auto;
    margin-right: .5em;
    margin-bottom: .5em;
}.filterButton h3 {
    font-size: 15pt;
    margin:0;
    padding: .25em;
    font-family: "asap", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* div that contains search bar in filters section */
.flexFilterSearch {
    display: flex;
    justify-content: center;
}

.flexFilterSearch input[type=text], select, textarea {
    background-color: #3754BE;
    color: #edfdff;
    border-radius: 50px;
    padding: 1em;
    margin-bottom: .5em;
    border: none;
    width: 80%;
    text-align: left;
    font-style: italic;
}

/* end styles for main section */

/*
MOBILE STYLES BEGIN
*/
@media only screen and (max-width:690px) {
    .topBox {
        display: none;
    }
}