/* Stylesheet by Noah Sisson and Nathan Porter */
/* 
code for different viewports
@media only screen and (max-width: ???px){}
*/

/* styles for main elements */

body {
    background-color: #3d5164;
}

h2 {
    background-color: #eb5858;
    color: #ffffff;
    margin-left: 1em;
    padding: .5em;
    border-radius: 25px;
    font-family: "asap", sans-serif;
    font-weight: 600;
    font-style: normal;
}

i {
    font-size: 2em;
    color: #edfdff;
    margin-top: .25em;
    margin-right: .25em;
    margin-left: .25em;
}

label {
    font-family: "asap", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* styles for nav bar flex container and flex items */

.bannerImg {
    max-width: 90%;
    object-position:0 -200px;
    margin-left: 5%;
}

.flexContainerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f4e8c9;
    border-radius: 50px;
    color: #ffffff;
    margin: 1em;
    margin-bottom: 0;
}

.btn {
    background-color: #5273ff;
    margin: .25em .5em .25em .5em;
    padding: .25em .5em .25em .5em;
    border-radius: 30px;
    height: 3.3em;
}

.btn:hover {
    background-color: #aaf3fa;
}

.btn a{
    text-align:center;
    color: #ffffff;
    display: block;
    width: 50px;
    height: 50px;
    padding:0;
    margin:0;
}

.flexHeader {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    width: auto;
}

.flexSearch {
    flex-grow: 1;
    text-align: center;
}

.searchBar input{
    margin: 1em;
}

input[type=text], select, textarea {
    background-color: #5273ff;
    color: #edfdff;
    border-radius: 50px;
    padding: 1.75em;
    border: none;
    width: 80%;
    text-align: left;
    font-style: italic;
}

.flexContain {
    display: flex;
    flex-direction: row;
}

/* style specifies how big the spacer divs are */
.spacer {
    height: 40vh;

}

.spacer2 {
    height: 50vh;
}
/**/

/* styles for the main section */
.mainDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filterdpop {
    background-color: #edfdff;
    flex-basis: 67%;
    border-radius: 25px;
}

.filterdpop h1 {
    padding-left:1em;
    font-size: 2em;
    font-family: "asap", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.collectionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.flexSoundbox {
    background-color: #eb5858;
    margin: 1em;
    flex-basis: 10em;
    text-align: center;
    border-radius: 25px;
    height: 10em;
}

.flexSoundbox i {
    font-size: 50pt;
    text-align: center;
    padding-bottom: .4em;
}

.flexSoundbox h2{
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.flexSoundbox a {
    text-decoration: none;
}

.filterdpop2 {
    background-color: #f4e8c9;
    flex-basis: 33%;
    border-radius: 25px;
    padding: 1em;
}

.filterdpop2 h1 {
    padding: 0 1em 1em 1em;
    text-align: center;
    margin: 0;
    font-family: "asap", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.filtersContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.filterButton h3 {
    font-size: 15pt;
    margin:0;
    padding: .25em;
    font-family: "asap", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.filterButton {
    background-color: #1f2b5d;
    color: #edfdff;
    border-radius: 25px;
    padding: 5px;
    width: auto;
    margin-right: .5em;
}

.flexFilterSearch input[type=text], select, textarea {
    background-color: #5273ff;
    color: #edfdff;
    border-radius: 50px;
    padding: 1em;
    margin-bottom: .5em;
    border: none;
    width: 80%;
    text-align: left;
    font-style: italic;
}
/* end styles for main section */

@media only screen and (max-width:690px) {
    .topBox {
        display: none;
    }
}